@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;400&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* Background Effect */
.ripple-background {
  position: absolute;
  left: 80%;
  top: 100%;
  background-size: cover;
}

@media (max-width: 760px) {
  .ripple-background {
    position: absolute;
    left: 10%;
    top: 60%;
    background-size: cover;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  background: aliceblue;
  /* background: lightskyblue;
  background: indianred;
  background: linen;
  background: oldlace; */
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}


/* main CSS */
body {
  font-family: Arial, sans-serif;
  background-color: midnightblue;
  /* background-color: cornsilk; */

}

.logo img {
  height: 27px;
}

nav {
  position: fixed;
  background-color: azure;
  color: #57b86a;
  padding: 10px;
  width: 100%;
  z-index: 20;
  top: 0;
  display: flex;
  margin: 0 auto;
}

nav .toggle_btn {
  color: #b01616;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

nav ul {
  list-style: none;
  margin: 0 0 0 45px;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #b01616;
  font-size: 20px;
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;

}

nav ul li .link:hover {
  background-color: #8ECAE6;
}


/* Drop-down-menu */
 
.drop-down-menu {
  position: absolute;
  display: none;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  background: #F6DEC2;
  backdrop-filter: blue(15px);
  border-radius: 10px;
  z-index: 5;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open-menu {
  height: 128px;
}

.drop-down-menu li{
  display: flex;
  padding: 0.7rem;
  align-items: center;
  justify-content: center;
}
.drop-down-menu li a {
  text-decoration: none;
  font-weight: 600;
  color: #b01616;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav .toggle_btn {
    display: block;
    position: absolute;
    right: 2rem;
  }
  .drop-down-menu{
    display: block;
  }
}

.search-city span {
  margin: 0 10px;
  color: orange;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: -5vw 12vw 2vw;
  z-index: 5;
}

.search-container input[type=text] {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  flex-grow: 1;
  border-radius: 34px;
}

.search-container button {
  background-color: transparent;
  color: #b73131;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  z-index: 4;
  position: relative;
}

.button-container button {
  background-color: #74925ab9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.button-container button:last-child {
  margin-right: 0;
}

.search-city {
  position: relative;
  margin: 10% auto;
}

.search-city h1 {
  display: flex;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

/* Table-Data */

#table-data::before {
  display: none;
}

#table-data::after {
  display: block;
}